// stylesheet

.title {
    text-align: center;
    margin: 40px 0;
}
.board-border {
    border: 15px solid brown;
    background-color: lightgreen;
    margin-right: 15px;
}

.score-border {
    border: 5px solid black;

}

.playAreaContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scoreTableContainer {
    min-height: 80vh;
}

.scoreArea-container {
    display: flex;
    //flex-wrap: wrap;   // grid-template-columns: repeat(5, 1);
    justify-content: space-evenly;
    //gap: 10px;
    align-items: center;
    border: 5px solid black;
    height: 50%;
    //position: relative;
    margin: 2em 2em;
    // grid-template-areas: 
    // "dice1"
    // "dice2"
    // "dice3"
    // "dice4"
    // "dice5";
}

.currentScore {
    display: flex;
   
}

.rollArea-container {
    border: 5px solid black;
    height: 50%;
    margin: 2em 2em;
}

// .diceHolder {
//     display: flex;
//     justify-content: center;
// }

// .diceHolder img{
  
    
// }

.current1 img, .current2 img, .current3 img, .current4 img, .current5 img {
  max-width: 50%;
  max-height: auto;
  object-fit: contain;
}



.current1, .current2, .current3, .current4, .current5, .placeHolder {
    max-width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.placeHolder {
    visibility: hidden;
}


// .scoreArea-container {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr); /* 5 columns for 5 dice */
//     gap: 10px; /* Space between dice */
//     align-items: center; /* Center dice vertically */
//     justify-items: center; /* Center dice horizontally */
//     height: 100%; /* Fill the parent container */
//     border: 5px solid black;
//     margin: 2em;
// }

// .diceHolder {
//     display: flex;
//     justify-content: center; /* Center the image inside the holder */
//     align-items: center;
// }

// .diceHolder img {
//     max-width: 100%; /* Ensure it scales */
//     height: auto;
//     max-height: 80px; /* Optional: Adjust the height limit for better layout */
// }
